.zad2-div {
    margin:auto;
    text-align: center;
    margin-top: 10px;
}

.ml20 {
    margin-left: 20px;
}

pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px; 
    }